@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  background: linear-gradient(120deg, #8697c4, #adbbda);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #ede8f5;
  min-height: 16rem;
  width: 30rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 0.9rem;
  overflow: hidden;
  padding: 4rem 3rem 7rem;
}

.container h1 {
  color: #3d52a0;
  text-transform: uppercase;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.container #userInput {
  width: 80%;
  padding: 0.5rem;
  background: #fffefe;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  margin-bottom: 0.5rem;
}

.container p {
  font-size: 1rem;
  font-weight: bolder;
  color: #3d52a0;
  margin: 0.3rem;
}

.container button {
  background: #3d52a0;
  border: none;
  color: #fffefe;
  padding: 0.3rem 1rem;
  border-radius: 0.4rem;
  font-size: 1rem;
}

.container button:hover {
  cursor: pointer;
  background: #556bbb;
}

#taskList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#taskList p {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  background: #3d52a0;
  width: 95%;
  padding: 0.7rem;
  border-radius: 2rem;
  color: #fffefe;
  margin-top: 0.3rem;
}

.fa-trash {
  border-radius: 2rem;
  cursor: pointer;
  margin-left: 0.6rem;
}
