@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  background: linear-gradient(120deg, #8697c4, #adbbda);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #ede8f5;
  height: 30rem;
  width: 37.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 0.9rem;
  overflow: hidden;
  padding: 4rem 3rem 7rem;
}

.container h1 {
  color: #3d52a0;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.container input {
  width: 80%;
  padding: 0.5rem;
  background: #fffefe;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  margin-bottom: 0.5rem;
}

.container button {
  background: #3d52a0;
  border: none;
  color: #fffefe;
  padding: 0.3rem 1rem;
  border-radius: 0.4rem;
  font-size: 1rem;
}

.container button:hover {
  cursor: pointer;
  background: #556bbb;
}

ul li {
  background: #3d52a0;
  margin: 0.5rem;
  list-style: none;
  font-size: 1.2rem;
  color: #fffefe;
  padding: 0.3rem;
  padding-left: 1rem;
  border-radius: 0.6rem;
  width: 60%;
}
